@charset "UTF-8";
/* CSS Document */

header {
  height:136px;
}

.header {
  position:fixed;
  background:#f0f0f0;
  width:100%;
  padding:15px;
}

.header > ul {
  float:right;
  list-style-type:none;
}

.header > ul > li {
  float:left;
  padding:27px 15px;
  font-size:18px;
}
